body{
    height: 100%;
}

.homeMenu > .ui{
    border: none !important;
    -webkit-box-shadow: none !important;
}

.secondTd {
    text-align: right !important;
}


/* .setBrightIDbuttonQR {
    background-color:"#76568e";
    border:'none';
    padding:'10px 10px';
    color:'white';
    font-weight:"bold";
    border-radius:'5px';
    cursor:'pointer';
} */